*.sim/
*.cache/
*.hw/
*.sim/
*.runs/
*.ip_user_files
vivado.jou
vivado.log
lsal_sw_arm
lsal_sw_x86
lsal_debug
_*/
.*/
package.*/
lsal
lsal.xclbin
build_dir*
sd_card*
package.*
_x* *xclbin.run_summary *xclbin.package_summary qemu-memory-_* emulation _vimage pl* start_simulation.sh *.xclbin